.head-text3 {
  color: #fff;
  text-align: left;
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  font-weight: 600;
  padding-left: 1rem;
}

.text-on-border-about {
  background-color: #282832;
  width: fit-content;
  color: white;
  margin-left: -1px;
  font-size: 30px;
  height: 35px;
  transform: translateY(-40px);
  font-weight: 600;
}

.about {
  background-color: #282832;
  padding-top: 5px;
  padding-top: 2rem;
}

.yellow {
  color: rgb(255, 190, 0);
  text-decoration: none;
}
.yellow-link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.yellow-link:hover {
  color: rgb(255, 190, 0);
  text-decoration: underline;
}

.programming-methods {
  cursor: default;
}
.bold {
  font-weight: 600;
}

.yellow-method {
  color: white;
  text-decoration: none;
  cursor: default;
}
.yellow-method:hover {
  text-decoration: underline;
}

.aboutme {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.head-text2-about {
  background-color: #282832;
}

.aboutme2 {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .aboutme-text {
    color: white;
    font-size: 17px;
  }
}

.aboutme-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutme-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
  font-size: 20px;

  .aboutme-grid-div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutme-grid-border {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .aboutme-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;

    width: 100%;

    .aboutme-grid-div {
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }
    .aboutme-grid-border {
      padding: 5px;
      border: 1px solid grey;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
      font-size: 18px;
    }
  }

  .aboutme2 {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .aboutme-text {
      color: white;
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 992px) {
  .aboutme-container-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .aboutme2 {
    .aboutme-text {
      font-size: 14px;
    }
  }
  .aboutme {
    flex-direction: column;
  }
  .aboutme1-about {
    margin-left: 0%;
    .aboutme-cont {
      .aboutme-button-email-second {
        opacity: 0.9;
        transition: 0.3s;
        z-index: 50;
        -webkit-box-shadow: 0px 20px 25px -21px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 20px 25px -21px rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 40px -15px rgba(255, 255, 255, 1);
      }
      .aboutme-button-cv {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
