.head-text3 {
  color: #fff;
  text-align: left;
  width: 100%;
  padding-left: 4%;
  padding-top: 2rem;
  font-weight: 600;
}
.head-text5 {
  font-weight: 600;
  font-size: 32px;
  color: white;
  margin-bottom: 15px;
}

.about {
  background-color: #282832;
}

.yellow {
  color: rgb(255, 190, 0);
}

.aboutme {
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 94%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.aboutme1-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  .about-me-header {
    color: white;
    text-align: left;
    width: 100%;
  }

  .aboutme-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0rem auto 1rem auto;
    .aboutme-button-email {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px;
      font-size: 18px;
      color: white;
      border: 2px solid rgb(255, 190, 0);
      .aboutme-button-email-icon {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 199px;
        color: rgb(255, 190, 0);
      }
      .aboutme-button-email-text {
        transform: translateY(-8px);
      }
    }
    .aboutme-button-phone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px;
      font-size: 18px;
      color: white;
      border: 2px solid rgb(255, 190, 0);
      .aboutme-button-phone-icon {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 199px;
        color: rgb(255, 190, 0);
      }
      .aboutme-button-phone-text {
        transform: translateY(-8px);
      }
    }
  }
}

.aboutme2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .aboutme-text {
    color: white;
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .aboutme {
    flex-direction: column;
  }
  .aboutme1-about {
    margin-left: 0%;
    .aboutme-cont {
      .aboutme-button-email-second {
        opacity: 0.9;
        transition: 0.3s;
        z-index: 50;
        -webkit-box-shadow: 0px 20px 25px -21px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 20px 25px -21px rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 40px -15px rgba(255, 255, 255, 1);
      }
      .aboutme-button-cv {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
