.head-text2 {
  color: #fff;
  text-align: left;
  width: 100%;
  padding-left: 3%;
  padding-top: 2rem;
  font-weight: 600;
}

html,
body {
  position: relative;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 95%;
  height: 250px;
}

.swiper-pagination-bullets {
  display: none;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 0.3;
  filter: blur(2px);
}
.swiper-slide-active {
  filter: blur(0px);
  opacity: 1;
}
.swiper-slide-prev {
  filter: blur(0px);
  opacity: 0.8;
}
.swiper-slide-next {
  filter: blur(0px);
  opacity: 0.7;
}

.swiper-slide img {
  object-fit: cover;
}

.app__skills-item-slider {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  div {
    width: 150px;
    height: 150px;
    background-color: rgb(45, 45, 60);

    img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      object-fit: contain;
    }

    &:hover {
    }
  }

  .react-slider {
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
  }
  .js-slider {
    padding-top: 20px;
    height: 80%;
    width: 80%;
    z-index: 100;
    position: absolute;
  }
  .html-slider {
    padding-top: 30px;
    height: 80%;
    width: 80%;
    z-index: 100;
    position: absolute;
  }
  .nextphoto-slider {
    width: 80px;
    height: 80px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
  }
  .jsphoto-slider {
    width: 100px;
    height: 100px;
  }
  .wordpressphoto-slider {
    width: 60px;
    height: 60px;
  }
  .reactphoto-slider {
    width: 60px;
    height: 60px;
  }
  .cssphoto-slider {
    width: 60px;
    height: 60px;
  }
  .htmlphoto-slider {
    width: 0px;
    height: 0px;
  }
}

.app__skills {
  flex: 1;
  width: 100%;
  flex-direction: column;
  height: 400px;
}

.app__skills-container {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 900px) {
    width: 100%;
    flex-direction: column;
  }
}

.app__skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
  opacity: 50%;
}
.app__skills-list:hover {
  opacity: 100%;
}

.app__skills-item {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all 0.3s ease-in-out;

  div {
    width: 120px;
    height: 120px;
    background-color: rgb(45, 45, 60);

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
    }
  }

  p {
    font-weight: 500;
    margin-top: 0.5rem;
  }
  .react {
    z-index: 100;
    position: absolute;
  }
  .nextjs {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 99;
  }
  .nextphoto {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
  }

  .csshover {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .cssdiv {
      width: 60px;
      height: 60px;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }

  // .nextjs {
  //   display: none;
  // }

  // .react:hover + .nextjs {
  //   transition: 0.2s;

  //   display: block;
  // }
}

.app__skills-exp {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    margin-top: 2rem;
  }
}

.app__skills-exp-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
}

.app__skills-exp-works {
  flex: 1;

  .app__skills-exp-work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    cursor: pointer;

    h4 {
      font-weight: 500;
    }

    p {
      font-weight: 400;
      color: var(--gray-color);
      margin-top: 5px;
    }
  }
}

.app__skills-exp-year {
  margin-right: 3rem;

  p {
    font-weight: 800;
    color: var(--secondary-color);
  }

  @media screen and(max-width: 450px) {
    margin-right: 1rem;
  }
}

.skills-tooltip {
  max-width: 300px !important;
  background-color: var(--white-color) !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  padding: 1rem !important;
  color: var(--gray-color) !important;
  text-align: center !important;
  line-height: 1.5 !important;
  opacity: 1 !important;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem !important;
    max-width: 500px !important;
    line-height: 2 !important;
  }
}
