.head-text3 {
  color: #fff;
  text-align: left;
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  font-weight: 600;
}

.aboutme1-about {
  background-color: #282832;
  color: white;
}

.contact-container {
  max-width: 1170px;
  width: 100%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutme-button-phone {
  display: flex;
}
.text-on-border-contact {
  background-color: #282832;
  width: fit-content;
  color: white;
  margin-left: -1px;
  font-size: 30px;
  height: 35px;
  transform: translateY(-40px);
  font-weight: 600;
  margin-left: -1rem;
}

.border-container-contact {
  padding-top: 20px;
  max-width: 1170px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  .border-timeline {
    border-top: 1px solid white;
  }
  .header-contact {
    transform: translateY(-25px);
    margin-left: -1px;
    font-size: 30px;
    height: 35px;
    font-weight: 600;
    background-color: #282832;
    width: fit-content;
  }
}

.contact-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  .aboutme-button-phone {
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 260px;
    padding: 10px;
    margin: 10px;
  }
  .aboutme-cont {
  }

  .phone-text {
    padding-top: 1px;
    text-decoration: none;
    color: white;

    .link-phone {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
  }

  .phone-icon {
    color: rgb(250, 190, 0);
  }
}
.contact-container-2 {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

  .aboutme-button-phone {
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 260px;
    padding: 10px;
    margin: 10px;
  }
  .aboutme-cont {
  }
  .phone-text {
    padding-top: 2px;
  }

  .phone-icon {
    color: rgb(250, 190, 0);
  }
  .aboutme-button-phone:hover {
    color: rgb(250, 190, 0);
    transition: 0.2s;
    cursor: pointer;
  }
  .phone-text {
    padding-top: 2px;
    text-decoration: none;
    color: white;
    .link-phone {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
    .link-phone:hover {
      color: rgb(250, 190, 0);
      transition: 0.2s;
      cursor: pointer;
    }
  }
  .phone-text:hover {
    color: rgb(250, 190, 0);
    transition: 0.2s;
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
  .contact-container-1 {
    text-align: center;
    align-items: center;

    .aboutme-cont {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  .contact-container-2 {
    align-items: center;
    .aboutme-cont {
      margin-right: 10%;
      margin-left: 10%;
    }
  }
}
@media screen and (max-width: 400px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
  .contact-container-1 {
    text-align: center;

    .aboutme-cont {
      margin-left: 0%;
      margin-right: 0%;
    }
  }
  .contact-container-2 {
    .aboutme-cont {
      margin-right: 0%;
      margin-left: 0%;
    }
  }
}
