.app__social {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;

  z-index: 10000;
  padding: 1rem 5px;
  left: 0;
  .app__social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(10, 10, 20);
    margin: 0.25rem 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: rgb(255, 190, 0);
    }

    &:hover {
      background-color: rgb(255, 190, 0);

      svg {
        color: black;
      }
    }
  }
  .engdiv {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(10, 10, 20);
    margin: 0.25rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;
  }
  .engsocial {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
  }
  .engtext {
    color: white;
    background-image: url(../../assets/en.png);
    background-position: center;
    background-size: cover;
    height: 20px;
    width: 20px;
    font-weight: 400;
    border-radius: 50%;
    cursor: pointer;
  }
  .engdiv:hover .engtext {
    height: 40px;
    width: 40px;
    transition: 0.2s;
  }
  .pltext {
    color: white;
    background-image: url(../../assets/pl.png);
    background-position: center;
    background-size: cover;
    height: 20px;
    width: 20px;
    font-weight: 400;
    border-radius: 50%;
    cursor: pointer;
  }
  .engdiv:hover .pltext {
    height: 40px;
    width: 40px;
    transition: 0.2s;
  }
}
