@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");

.app__header {
  background-color: rgb(30, 30, 40);
  font-family: "Poppins", sans-serif;
  height: 55vh;
  .yellow {
    color: rgb(255, 190, 0);
  }
  .white {
    color: white;
  }

  .app__header_content {
    color: white;
    padding-top: 5vh;
    background: linear-gradient(
        180deg,
        rgba(30, 30, 40, 0.6) 0%,
        rgba(30, 30, 40, 1) 80%
      ),
      url("../../assets/DALLEnocup.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .app__header_content-img {
    height: 320px;

    margin-left: 2rem;
    margin-right: 2rem;
    background: linear-gradient(
        180deg,
        rgba(30, 30, 40, 0.3) 0%,
        rgba(30, 30, 40, 0.3) 30%,
        rgba(30, 30, 40, 0.9) 100%
      ),
      url("../../assets/DALLEnocup.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  @media screen and(max-width:992px) {
    .app__header_content {
      height: 100vh;
      background: linear-gradient(
          180deg,
          rgba(30, 30, 40, 0.7) 0%,
          rgba(30, 30, 40, 1) 95%
        ),
        url("../../assets/DALLESHORT.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .app__header_content-img {
      margin-left: 2rem;
      margin-right: 2rem;
      height: 95vh;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(30, 30, 40, 0.4) 60%,
          rgba(30, 30, 40, 0.8) 65%,
          rgba(30, 30, 40, 0.8) 90%
        ),
        url("../../assets/DALLESHORT.png");
      object-fit: cover;
      background-position: center;
      background-size: cover;
    }
  }

  @media screen and(max-width:576px) {
    .app__header_content-img {
      margin-left: 0rem;
      margin-right: 0rem;
    }
  }

  .app__header_content-img-photo {
    .photo {
      position: absolute;
      height: 350px;
      bottom: 0;
      background-position: center;
      background-size: cover;
      z-index: 50;
      right: 0;
    }
    @media screen and (max-width: 992px) {
      .photo {
        height: 60vh;
        width: 100%;
        object-fit: contain;
        z-index: 100;
        bottom: 0;
      }
    }
  }
  .app__header_content-img-text {
    position: absolute;
    z-index: 500;
    left: 0;
    top: 0;
    padding-top: 15px;
    padding-left: 2.5%;

    .pflex {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    h1 {
      font-size: 5rem;
      font-weight: 700;
    }
    .yellow {
      font-size: 3rem;
      font-weight: 700;
    }
    .slash {
      font-size: 2rem;
    }
    .white {
      font-size: 4rem;
    }

    .button {
      background-color: rgb(255, 190, 0);
      padding: 1rem;
      font-weight: 600;
      border: none;
    }

    @media screen and(max-width:992px) {
      h1 {
        font-size: 4rem;
        font-weight: 700;
      }
      .yellow {
        font-size: 3rem;
        font-weight: 700;
      }
      .slash {
        font-size: 2rem;
      }
      .white {
        font-size: 3rem;
      }
      .pflex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  .app__header-experience {
    display: flex;
    justify-content: space-between;

    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
    width: 90%;
    margin: 0 auto;

    .app__header-experience-single {
      display: flex;
      justify-content: center;
      align-items: center;
      .white {
        padding-left: 1rem;
        font-size: 1rem;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .app__header-experience {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 992px) {
  .app__header {
    height: 100vh;
  }
}
