html {
  background-color: rgb(30, 30, 40);
}

.app__sidebar-small-toggle {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgb(255, 190, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  margin-top: 20px;
  font-size: 40px;
  z-index: 10000;
  cursor: pointer;
  padding: 20px;
}

.swiper-button-next {
  visibility: hidden;
  color: white;
  padding-bottom: 80px;
}
.swiper-button-prev {
  visibility: hidden;
  color: white;
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .swiper-button-next {
    visibility: visible;
  }
  .swiper-button-prev {
    visibility: visible;
  }
}

.app__sidebar-big-toggle {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  color: rgb(255, 190, 0);
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  z-index: 10000;
  margin-top: 20px;
  font-size: 40px;
  cursor: pointer;
  padding: 20px;
}

.app {
  background-color: rgb(30, 30, 40);
  font-family: var(--font-base);
}
.bigpx {
  margin-left: 300px;
}
.smallpx {
  margin-left: 50px;
}

.app__whitebg {
  background-color: rgb(40, 40, 50);
}

.app__primarybg {
  background-color: rgb(30, 30, 40);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--black-color);
  }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: white;

  span {
    color: var(--secondary-color);
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: rgb(226, 226, 226);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: white;
  text-align: center;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}
.normal-text {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(201, 201, 201);
  text-align: center;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 992px) {
  .bigpx {
    margin-left: 50px;
  }

  .app__sidebar-big-toggle {
    margin-left: 230px;
  }
}
